.Principal {
    display: grid;
    grid-template-areas:
        "header header"
        "nav content"
        "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .App-header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 1rem;
    border-bottom: 3px solid rgb(68, 228, 121);
  }
  
  .cadastroSalvar-button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    background-color:rgb(32, 165, 28);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 60px;
    margin-top: 20px; 
  }
  
  .cadastroSalvar-button:hover {
    background-color: #78ba4f;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    padding: 0.5rem;
    cursor: pointer;
  }
  
  nav ul li:hover {
    background-color: rgb(160, 255, 192);
  }
  
  main {
    grid-area: content;
    overflow: auto;
    padding: 1rem;
  }
  
  main h2 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  footer {
    grid-area: footer;
    text-align: center;
    padding: 1rem;
    border-top: 3px solid rgb(68, 228, 121);
  }
  
  /* Estilos para o formulário de cadastro */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
      display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    margin-left: 20px;
    font-size: 16px;
    background-color: #88D05B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(38, 144, 33);
    color: white;
  }
  
  label {
    margin-bottom: 10px; 
  }
  
  input,
  textarea {
    display: inline-block;
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
  }